# gradle

.gradle/
gradle/wrapper/gradle-wrapper.jar
build/
out/
classes/

# idea

.idea/*
!.idea/runConfigurations/
*.iml
*.ipr
*.iws

# macos

*.DS_Store

# fabric

run/
fabric/src/main/generated/*

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# misc
.env
